.accessories__wrapper {
  position: relative;
  display: flex;
  width: $media-mobile;
  margin: 0 auto;
  padding: 0 20px 0 0;

  &::before {
    position: absolute;
    display: block;
    width: 100vw;
    left: calc(50% - 50vw);
    top: 22px;
    z-index: -1;
    content: "";
    height: 3px;
    background-color: $theme-color-default;
  }
}

.accessories__title {
  display: block;
  width: 267px;
  font-family: $font-stack;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin: 8px 0 34px 0;
  font-weight: normal;
  padding-left: 19px;
  background-color: #ffffff;
}

.accessories__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.accessories__item {
  border-top: 1px solid #cdcdcd;
  padding: 0 0 5px;
}

.accessories__order-all {
  border-top: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $theme-color-default;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 39px;
  background-clip: content-box;
  min-height: 328px;
  padding: 39px 0 0;
  margin: 0 20px 35px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }

  &::before {
    content: "";
    display: block;
    margin: 23px auto 64px auto;

    @include sprite-icon-gift;
  }
}

.accessories__order-slogan {
  display: block;
  margin: 0;
  text-align: center;
  font-family: $font-stack-default;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 165px;
}

@media (min-width: $media-tablet) {
  .accessories {
    margin-top: 58px;

    &::before {
      margin-top: 88px;
      margin-bottom: -33px;
    }
  }

  .accessories__wrapper {
    padding: 0 30px;
    width: $media-tablet;

    &::before {
      top: 30px;
    }
  }

  .accessories__list {
    padding: 0 30px;
  }

  .accessories__title {
    width: 413px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 39px;
    margin-left: -2px;
    margin-bottom: 80px;
  }

  .accessories__item {
    padding: 0;
  }

  .accessories__order-all {
    border-top: none;
    min-height: 270px;
    margin: 0 30px 77px;
    background-size: cover;
    background-position: 50% 100%;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    padding-top: 70px;
    flex-direction: row;
    justify-content: space-around;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }

    &::before {
      margin: 53px 92px 64px 0;
    }
  }

  .accessories__order-slogan {
    margin: 5px 29px 0 0;
    text-align: left;
  }
}

@media (min-width: $media-desktop) {
  .accessories {
    margin-top: 63px;
    margin-bottom: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .accessories__wrapper {
    padding: 0 30px;
    flex-basis: $media-desktop;
    margin: 0 auto;
  }

  .accessories__title {
    margin-left: -30px;
  }

  .accessories__list {
    flex-basis: 915px;
    padding: 0;
    margin: 0 60px 0 40px;
  }

  .accessories__item {
    width: 895px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .accessories__order-all {
    flex-basis: 245px;
    min-height: 289px;
    padding-top: 0;
    flex-direction: column;
    margin: 0 40px 0 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }

    &::before {
      margin: 22px 0 -25px 1px;
    }
  }

  .accessories__order-slogan {
    margin: 0;
    text-align: center;
  }
}
