.advantages {
  padding: 17px 20px 20px 20px;
}

.advantages__title {
  margin: 0;
  font-family: $font-stack;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  counter-reset: adv-count;
}

.advantages__item {
  position: relative;
  padding: 0 0 0 80px;
  min-height: 60px;
  margin: 20px 0 0 0;
  counter-increment: adv-count;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $theme-color-default;
    display: block;
  }

  &--leaf::after {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 60px;
    height: 60px;
    content: "";
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }

  &--powder::after {
    position: absolute;
    left: 5px;
    top: 4px;
    width: 60px;
    height: 60px;
    content: "";
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
  }

  &--dining::after {
    position: absolute;
    left: 4px;
    top: 5px;
    width: 60px;
    height: 60px;
    content: "";
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
  }

  &--clock::after {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 60px;
    height: 60px;
    content: "";
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }
  }
}

.advantages__description {
  padding-top: 2px;

  &::before {
    position: absolute;
    z-index: -1;
    top: -20%;
    left: 112px;
    display: none;
    content: counter(adv-count);
    font-size: 281px;
    line-height: 281px;
    font-family: $font-stack;
    color: #f2f2f2;
  }

  &--leaf::before {
    left: 118px;
  }
}


@media (min-width: $media-tablet) {
  .advantages {
    padding: 45px 30px 0 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .advantages__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    flex: 0 0 324px;
    padding: 94px 0 0 0;
    margin: 32px 0 85px 0;

    &::before {
      width: 80px;
      height: 80px;
      top: 0;
    }

    &::after {
      top: 15px;
      left: 15px;
    }
  }

  .advantages__description {
    max-width: 245px;

    &::before {
      display: block;
    }
  }
}

@media (min-width: $media-desktop) {
  .advantages {
    max-width: $media-desktop;
    margin: 0 auto;
    padding: 73px 40px 0 40px;
    border-bottom: none;
  }

  .advantages__item {
    flex: 0 0 245px;
  }
}
