.burger-menu {
  font-family: $font-stack;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11px;
  position: relative;
}

.burger-menu__toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  margin: 23px 23px 0 0;

  @include sprite-icon-mobile-menu;

  &--close {
    @include sprite-icon-close;
  }

  &--nojs {
    display: none;
  }

  &:focus {
    outline: 1px dotted $theme-color-default;
  }
}

.burger-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &--closed {
    display: none;
  }
}

.burger-menu__item {
  padding: 22px 0 23px 0;
  border-bottom: 1px solid #e6e6e6;
  flex-grow: 1;
}

.burger-menu__link {
  color: #111111;
  padding-bottom: 5px;

  &:not([href]) {
    border-bottom: 2px solid $theme-color-default;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active,
  &[href]:focus {
    opacity: 0.3;
  }
}

@media (min-width: $media-tablet) {
  .burger-menu {
    display: flex;
    padding-top: 24px;
  }

  .burger-menu__toggle-btn {
    display: none;
  }

  .burger-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: normal;
    font-size: 18px;
    color: #222222;
    border: none;
    padding: 0 30px 0 0;
  }

  .burger-menu__item {
    flex-grow: 0;
    border: none;
    padding-left: 35px;
  }
}

@media (min-width: $media-desktop) {
  .burger-menu {
    padding-top: 54px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: $media-desktop;
    margin: 0 auto;
  }

  .burger-menu__list {
    font-size: 20px;
    line-height: 25px;
    padding-right: 0;
    margin-top: -2px;
  }

  .burger-menu__link--index {
    color: #ffffff;

    &:not([href]) {
      border-bottom: 2px solid #ffffff;
    }
  }
}
