.hero {
  position: relative;
  margin-bottom: -2px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    min-height: 305px;
    z-index: -1;
    background-color: $theme-color-default;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.hero__inner {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 27px 20px 0 20px;
}

.hero__title {
  margin: 0;
  padding: 0 0 25px 0;
  font-family: $font-stack;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  max-width: 280px;
}

.hero__slogan {
  margin: 0;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.hero__btn {
  @include button-default(14px,18px);
  display: block;
  padding: 11px 20px;
  order: 2;
  align-self: stretch;
}


.hero__image {
  padding-top: 28px;
}

.hero__picture {
  line-height: 0;
}

@media (min-width: $media-tablet) {
  .hero {
    padding: 20px 30px 0;

    &::before {
      display: none;
    }
  }

  .hero__inner {
    text-align: left;
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 20px 0 87px;
  }

  .hero__title {
    margin: 0;
    padding: 0 0 40px 0;
    font-family: $font-stack;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    max-width: 427px;
  }

  .hero__slogan {
    margin: 0;
    font-family: $font-stack;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
  }

  .hero__btn {
    @include button-default(20px, 20px);
    margin: 48px 0 0 2px;
    min-width: 245px;
    order: 0;
    align-self: flex-start;
    padding-left: 21px;
  }

  .hero__image {
    position: relative;
    margin-left: -88px;
    margin-top: -79px;
    margin-right: -20px;
    z-index: -1;
    width: 709px;
    height: 611px;
    padding: 0;
  }
}

@media (min-width: $media-desktop) {
  .hero {
    position: static;
    max-width: $media-desktop;
    padding: 20px 40px 0;
    margin: 0 auto;

    &::before {
      left: auto;
      right: 0;
      display: block;
      width: 50%;
      min-height: 696px;
      background-position: right 0 center;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .hero__inner {
    flex-wrap: wrap;
    min-height: 600px;
    padding: 23px 20px 0 77px;
    position: relative;
  }

  .hero__image {
    width: 552px;
    height: 499px;
    margin: 0;
    top: -8px;
    right: 218px;
    position: absolute;
  }

  .hero__title {
    margin-top: 50px;
    margin-left: 3px;
  }

  .hero__slogan {
    margin-left: 3px;
    max-width: 40%;
  }

  .hero__btn {
    margin: 54px 0 0 3px;
  }
}

