@mixin svg-common {
  background: url("../img/sprite.svg") no-repeat;
}

@mixin sprite-htmlacademy {
  @include svg-common;
  background-position: 97.1571072319202% 40.03225806451613%;
  width: 62px;
  height: 62px;
}

@mixin sprite-icon-cat-pro {
  @include svg-common;
  background-position: 0 0;
  width: 270.1px;
  height: 114.3px;
}

@mixin sprite-icon-cat-slim {
  @include svg-common;
  background-position: 0 99.88636363636364%;
  width: 142.1px;
  height: 196px;
}

@mixin sprite-icon-close {
  @include svg-common;
  background-position: 81.51241534988714% 67.64204545454545%;
  width: 20px;
  height: 20px;
}

@mixin sprite-icon-fb {
  @include svg-common;
  background-position: 99.31170108161258% 11.570489408327246%;
  width: 15.52px;
  height: 29.75px;
}

@mixin sprite-icon-fb-mobile {
  @include svg-common;
  background-position: 98.53658536585365% 19.757834757834754%;
  width: 12px;
  height: 21px;
}

@mixin sprite-icon-gift {
  @include svg-common;
  background-position: 66.6091245376079% 40.03225806451613%;
  width: 57.5px;
  height: 62px;
}

@mixin sprite-icon-insta {
  @include svg-common;
  background-position: 61.66666666666668% 68.61671469740634%;
  width: 25px;
  height: 25px;
}

@mixin sprite-icon-insta-mobile {
  @include svg-common;
  background-position: 85.64044943820225% 67.25988700564972%;
  width: 18px;
  height: 18px;
}

@mixin sprite-icon-mail {
  @include svg-common;
  background-position: 80.45045045045046% 61.09243697478992%;
  width: 19px;
  height: 15px;
}

@mixin sprite-icon-mail-green {
  @include svg-common;
  background-position: 71.8918918918919% 61.09243697478992%;
  width: 19px;
  height: 15px;
}

@mixin sprite-icon-mail-red {
  @include svg-common;
  background-position: 76.17117117117118% 61.09243697478992%;
  width: 19px;
  height: 15px;
}

@mixin sprite-icon-mobile-menu {
  @include svg-common;
  background-position: 61.80778032036614% 61.96022727272727%;
  width: 26px;
  height: 20px;
}

@mixin sprite-icon-phone {
  @include svg-common;
  background-position: 66.91609977324264% 68.02857142857142%;
  width: 22px;
  height: 22px;
}

@mixin sprite-icon-phone-green {
  @include svg-common;
  background-position: 71.90476190476191% 68.02857142857142%;
  width: 22px;
  height: 22px;
}

@mixin sprite-icon-phone-red {
  @include svg-common;
  background-position: 76.89342403628117% 68.02857142857142%;
  width: 22px;
  height: 22px;
}

@mixin sprite-icon-plus {
  @include svg-common;
  background-position: 81.69576059850375% 40.03225806451613%;
  width: 62px;
  height: 62px;
}

@mixin sprite-icon-plus-gray-mobile {
  @include svg-common;
  background-position: 70.09280742459397% 54.73529411764706%;
  width: 32px;
  height: 32px;
}

@mixin sprite-icon-plus-mobile {
  @include svg-common;
  background-position: 62.668213457076575% 54.73529411764706%;
  width: 32px;
  height: 32px;
}

@mixin sprite-icon-right-arrow-long {
  @include svg-common;
  background-position: 99.33608058608058% 27.493036211699163%;
  width: 26.2px;
  height: 13px;
}

@mixin sprite-icon-right-arrow-verylong {
  @include svg-common;
  background-position: 93.21678321678321% 27.493036211699163%;
  width: 34px;
  height: 13px;
}

@mixin sprite-icon-tick {
  @include svg-common;
  background-position: 67.31075244373723% 61.52327221438646%;
  width: 23.1px;
  height: 17.5px;
}

@mixin sprite-icon-vk {
  @include svg-common;
  background-position: 77.51740139211137% 52.53500451671183%;
  width: 32px;
  height: 17.76px;
}

@mixin sprite-icon-vk-mobile {
  @include svg-common;
  background-position: 83.39407744874715% 51.98324022346369%;
  width: 24px;
  height: 14px;
}

@mixin sprite-logo-desktop {
  @include svg-common;
  background-position: 0 36.81159420289855%;
  width: 204px;
  height: 61.5px;
}

@mixin sprite-logo-footer {
  @include svg-common;
  background-position: 81.06242496998802% 28.47663012117715%;
  width: 129.8px;
  height: 25.4px;
}

@mixin sprite-logo-mobile {
  @include svg-common;
  background-position: 99.81522542498153% 0;
  width: 192.4px;
  height: 39.6px;
}

@mixin sprite-logo-tablet {
  @include svg-common;
  background-position: 93.5573259438864% 12.655800575263664%;
  width: 174.3px;
  height: 59.1px;
}

