$font-stack: "Oswald", "Arial", sans-serif;
$font-stack-default: "Arial", "Helvetica", sans-serif;
$font-color-default: #444444;
$theme-color-default: #68b738;
$button-backcolor: $theme-color-default;
$button-backcolor-hover: #5eaa2f;
$button-color: rgba(255, 255, 255, 1);
$button-color-active: rgba(255, 255, 255, 0.3);
$media-mobile: 320px;
$media-tablet: 768px;
$media-desktop: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
