{{!-- partials/header.hbs --}}
<header class="page__header">
  <nav class="page__navigation burger-menu">
    <div class="logo logo--header burger-menu__logo">
      <a{{#unless index-page}} href="index.html"{{/unless}} class="logo__link">
        <picture>
          <source media="(min-width: 1300px)" srcset="./img/logo-desktop.svg">
          <source media="(min-width: 768px)" srcset="./img/logo-tablet.svg">
          <img src="./img/logo-mobile.svg" width="192" height="38" alt="Cat Energy">
        </picture>
      </a>
    </div>
    <button class="burger-menu__toggle-btn burger-menu__toggle-btn--nojs">
      <span class="ie-fix visually-hidden">показать меню</span>
    </button>
    <ul class="burger-menu__list burger-menu__list--nojs">
      <li class="burger-menu__item">
        <a class="burger-menu__link{{#if index-page}} burger-menu__link--index{{/if}}"{{#unless index-page}} href="index.html"{{/unless}}>Главная</a>
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link{{#if index-page}} burger-menu__link--index{{/if}}"{{#unless catalog-page}} href="catalog.html"{{/unless}}>Каталог продукции</a>
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link{{#if index-page}} burger-menu__link--index{{/if}}"{{#unless program-page}} href="program.html"{{/unless}}>Подбор программы</a>
      </li>
    </ul>
  </nav>
</header>
