{{#> layout program-page="true"}}
{{#*inline "main-block"}}
<section class="form-food">
  <h1 class="form-food__title">Подбор программы</h1>
  <form action="https://echo.htmlacademy.ru" class="form-food__form" method="post">
    <p class="form-food__slogan">Заполните анкету и мы подберем программу&nbsp;питания для вашего кота</p>
    <div class="form-food__fieldset">
      <div class="form-food__text-wrapper">
        <div class="form-food__field">
          <label for="input-name" class="form-food__label">Имя:*</label>
          <input class="form-food__input-text form-food__input-text--name" type="text" name="name" id="input-name" placeholder="Барсик" required>
        </div>
        <div class="form-food__field">
          <label for="input-weight" class="form-food__label">Вес (кг):*</label>
          <input class="form-food__input-text form-food__input-text--weight" type="text" name="weight" id="input-weight" placeholder="7" required>
        </div>
        <div class="form-food__field">
          <label for="input-age" class="form-food__label">Возраст (лет):</label>
          <input class="form-food__input-text form-food__input-text--age" type="text" name="age" id="input-age" placeholder="7">
        </div>
      </div>
      <div class="form-food__radio-wrapper">
        <div class="form-food__field">
          <input class="form-food__input-radio" type="radio" name="program-type" id="radio-1" value="Похудение" checked>
          <label for="radio-1" class="form-food__label form-food__label--radio" tabindex="0">Похудение</label>
        </div>
        <div class="form-food__field">
          <input class="form-food__input-radio" type="radio" name="program-type" id="radio-2" value="Набор массы">
          <label for="radio-2" class="form-food__label form-food__label--radio" tabindex="0">Набор массы</label>
        </div>
        <div class="form-food__field">
          <input class="form-food__input-radio" type="radio" name="program-type" id="radio-3" value="Нужен совет">
          <label for="radio-3" class="form-food__label form-food__label--radio" tabindex="0">Не знаю (нужен ваш совет)</label>
        </div>
      </div>
    </div>
    <div class="form-food__header-wrapper">
      <h3 class="form-food__section-header">Контактные данные (владельца кота)</h3>
    </div>
    <div class="form-food__fieldset form-food__fieldset--contact">
      <div class="form-food__field form-food__field--email">
          <label for="e-mail" class="form-food__label">E-Mail:*</label>
          <input class="form-food__input-text form-food__input-text--email" type="email" name="e-mail" id="e-mail" placeholder="kuklachev@gmail.com" required>
      </div>
      <div class="form-food__field form-food__field--phone">
          <label for="phone" class="form-food__label">Телефон:*</label>
          <input class="form-food__input-text form-food__input-text--phone" type="tel" name="phone" id="phone" placeholder="8 (960) 900-60-90" required>
      </div>
    </div>
    <div class="form-food__header-wrapper">
      <h3 class="form-food__section-header">Комментарий</h3>
    </div>
    <textarea class="form-food__input-textarea" name="cat-behavior" id="cat-behavior" placeholder="Расскажите обо всех повадках кота"></textarea>
    <div class="form-food__header-wrapper">
      <h3 class="form-food__section-header form-food__section-header--extra">Дополнительно</h3>
    </div>
    <div class="form-food__checkbox-wrapper">
      <div class="form-food__field form-food__field--checkbox">
        <input class="form-food__input-checkbox" type="checkbox" name="accessories" id="checkbox-1" value="Сахарозаменитель" checked>
        <label for="checkbox-1" class="form-food__label form-food__label--checkbox" tabindex="0">Сахарозаменитель</label>
      </div>
       <div class="form-food__field form-food__field--checkbox">
        <input class="form-food__input-checkbox" type="checkbox" name="accessories" id="checkbox-2" value="Питьевая вода">
        <label for="checkbox-2" class="form-food__label form-food__label--checkbox" tabindex="0">Питьевая вода</label>
      </div>
      <div class="form-food__field form-food__field--checkbox">
        <input class="form-food__input-checkbox" type="checkbox" name="accessories" id="checkbox-3" value="Молоко">
        <label for="checkbox-3" class="form-food__label form-food__label--checkbox" tabindex="0">Молоко</label>
      </div>
      <div class="form-food__field form-food__field--checkbox">
        <input class="form-food__input-checkbox" type="checkbox" name="accessories" id="checkbox-4" value="Витамины">
        <label for="checkbox-4" class="form-food__label form-food__label--checkbox" tabindex="0">Витамины</label>
      </div>
    </div>
    <input class="form-food__submit" type="submit" value="Отправить заявку">
    <p class="form-food__required-text">* — Обязательные поля</p>
  </form>
</section>
{{/inline}}
{{/layout}}
